/* Global */

:root {
  /* Color */

  --color-white: #ffffff;

  --color-light-white: #eeeeee;

  --color-dark-white: #bdbdbd;

  --color-purple: rgb(111, 23, 133);

  --color-dark-mint: rgb(46, 192, 236);

  --color-dark-grey: #4d4d4d;

  --color-grey: #616161;

  --color-light-grey: #7c7979;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-orange: #feb546;

  --color-black: #000000;

  /* Font size */

  --font-large: 48px;

  --font-medium: 28px;

  --font-regular: 18px;

  --font-small: 16px;

  --font-micro: 14px;

  /* Font weight */

  --weight-bold: 700;

  --weight-semi-bold: 600;

  --weight-regular: 400;

  /*  Size */

  --border-radius: 14px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

section {
  padding: 16px;
  padding-top: 90px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);

  font-weight: var(--weight-bold);

  color: var(--color-black);

  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);

  font-weight: var(--weight-semi-bold);

  color: var(--color-black);

  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 8px 0;
}

p {
  font-size: var(--font-regular);

  font-weight: var(--weight-regular);

  color: var(--color-black);

  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  width: 100%;
  padding: 9px;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  color: var(--color-white);
  padding: 8px;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
}

#navbar a {
  color: var(--color-white);
  font-size: var(--font-medium);
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

.navbar__logo i {
  padding: 5px;
}

.navbar__menu {
  display: flex;
  margin-right: 60px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  font-weight: bold;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-mint);
  border: 1px solid var(--color-white);
}

.navbar__togglebtn {
  background-color: transparent;
  padding: 8px 12px;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 32px;
  top: 10px;
  display: none;
  outline: transparent;
  cursor: pointer;
}

/* HOME */
#home {
  background: url("imgs/back-color.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
  transition: all 300ms ease;
}

#home img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title,
.home__description {
  color: var(--color-light-white);
}

.home__contact {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
  color: var(--color-white);
  margin: 20px;
  padding: 8px 12px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border: 2px solid var(--color-white);
  border-radius: var(--border-radius);
  outline: none;
}

.home__contact:hover {
  background-color: var(--color-blue);
}

/* About */

.section {
  padding: 16px;
  padding-top: 0px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

#about {
  text-align: center;

  margin: auto;
}

.about__majors {
  display: flex;
  margin: 80px 0;
  justify-content: space-between;
  padding: 50px;
}

.major__icon {
  border: 1px solid rgb(10, 101, 161);
  border-radius: 50%;
  width: 170px;
  height: 200px;
  font-size: 100px;
  line-height: 200px;
  margin: auto;
  margin-bottom: 15px;
  color: var(--color-blue);
}

.major__icon i {
  transition: all 300ms ease;
}

.major__icon i:hover {
  color: rgb(111, 23, 133);
  transform: rotate(-30deg) scale(1.2);
}

.major__description {
  color: var(--color-dark-grey);
  font-size: var(--font-small);
}

/* SKills */

#skills {
  text-align: center;
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-dark-grey);
  margin: 20px 0;
  color: var(--color-white);
}

.skillset__title {
  color: var(--color-white);
}

.skillset_left {
  flex-basis: 60%;
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 32px;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-grey);
}

/*  여기서 width는 css가 아니라 tag에서 정해져야한다. */
.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset_right {
  flex-basis: 40%;
  background-color: var(--color-grey);
  margin: auto;
  height: 100%;
}

.tools {
  background-color: var(--color-light-grey);
  padding: 20px;
}

.etc {
  padding: 20px;
}

/* Work */

#work {
  text-align: center;
}

.work__category {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radius);
  font-size: var(--font-regular);
  padding: 8px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.category__count {
  background-color: orange;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: var(--color-white);
  top: -20px;
  right: 12px;
  opacity: 0;
  margin-top: 8px;
  transition: all 300ms ease-in;
  position: absolute;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}

.work__projects.anime-out {
  opacity: 0;
  transform: scale(0.95) translateY(10px);
}

.project {
  width: 280px;
  height: 250px;
  margin: 10px;
  background-color: var(--color-light-white);
  position: relative;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
  transform: translateY(10px);
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Testimonial */

#testimonials {
  background-color: var(--color-light-white);
  text-align: center;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 14px;
}

.testimonial__speech--bubble {
  background-color: var(--color-white);
  width: 100%;
  text-align: center;
  padding: 18px;
}

.testimonial__speech--bubble a {
  color: var(--color-purple);
}

.testimonial__speech--bubble p {
  color: var(--color-light-grey);
}

/* Contact */

#contact {
  background-color: var(--color-blue);
  text-align: center;
  padding: 50px;
}

.contact__title,
.contact_email {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__link i {
  color: var(--color-white);
  font-size: var(--font-large);
  margin: 30px 0;
  transition: all 300ms ease-in;
}

.contact__link i:hover {
  transform: scale(1.1);
  color: var(--color-purple);
}
/*  up 버튼! */
.arrow-up {
  background-color: transparent;
  border: none;
  color: var(--color-purple);

  position: fixed;
  bottom: 30px;
  right: 50px;
  font-size: var(--font-large);
  cursor: pointer;
  outline: none;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__togglebtn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-blue);
    padding: 10px;
  }

  #navbar.navbar--dark {
  }
  .navbar__menu {
    flex-direction: column;
    width: 100%;
    display: none;
    text-align: center;
    background-color: var(--color-blue);
  }
  .navbar__menu.open {
    display: block;
  }

  .about__majors {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 36px;
  }

  .category__btn {
    margin: 4px;
    width: 100%;
  }
  .skillset {
    flex-direction: column;
  }
  .testimonial {
    flex-direction: column;
    align-items: center;
  }
  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
    margin: 0;
  }
  .testimonial__speech--bubble {
    order: 1;
  }

  .arrow-up {
    bottom: 16px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
